import { FC, ReactNode } from "react";

export type {{properCase name}}Props = {
  children: ReactNode;
};

export const {{properCase name}}: FC<{{properCase name}}Props> = ({ children }) => (
  <>
    <h1>{"{{properCase name}}"}</h1>
    {children}
  </>
);
